SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c66", ATTRS{idProduct}=="000c",OWNER="user" GROUP="user", MODE="0666"
KERNEL=="ttyUSB[0-9]*" MODE="0777"
KERNEL=="ttyS[0-9]*" MODE="0777"
